html
body{
    margin: 0;
    padding: 0;
}

div{
    width: 100%;
    margin: auto;
    padding: auto;
}


#header{
    background-color:rgb(11, 39, 76);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}
#header p{
    color:white;
    font-family:serif;
}
#pais{
    font-size: 25px;
}
#think{
    font-size: 15px;
}
#think2{
    color: rgb(0, 144, 0);
}

#imgcabecera{
    width: 100%;
}

#Intr{
    object-fit: contain;
    text-align: center;
    width: 50%;
}


#Article p{
    width: 50%;
    text-align: left;
    margin: auto;
}
#Article img{
    display: block;
    object-fit: contain;
    margin: auto;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    font-size: 60px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

p{
    color: rgb(92, 92, 92);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

#Capitalletter::first-letter{
    float: left;
    color: black;
    font-size: 190px;
    padding: 0px 10px 0px 0px;
}

#Texttitle{
    color: black;
    font-size: 25px;
    font-weight:bold;
}

a:link{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style:dashed;
    text-decoration-color: gray;
}

a:visited{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style:dashed;
    text-decoration-color: gray;
}

a:hover{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style:dashed;
    text-decoration-color: gray;
}

a:active{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style:dashed;
    text-decoration-color: gray;
}