body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 80%;
    background-color: rgba(224, 150, 11, 0.884);
    background-size:contain;
}

header {
    align-items: center;
    justify-content:space-between;
    padding: 15px;
    background-image:url(imag/patronmotosierra.jpg);
}

section {
    background-image:url(imag/patronfondo2.jpg);
    background-size:auto;
}

h1{
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    text-align: center;
    color: rgb(165, 7, 7);
}

h2{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    text-align:center;
    color:rgb(0, 0, 0);
    background-color: rgba(95, 158, 160, 0.673);
}

.orig{
    display: flex;
    width: 90%;
    margin: auto;
    padding: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.gallery {
    margin: 5px;
    border: 2px solid rgb(226, 102, 19);
    width: 433px;
    height: fit-content;
    margin-bottom: 12px;
    float: left;

}
  
.gallery:hover {
    border: 2px solid rgb(233, 29, 29);
}

.imag {
    width: 100%;
    filter: none;
    image-resolution: 100%;
    display: block;
}

.desc {
    padding: 10px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.945);
}

ol {
    list-style-position: inside;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:rgb(0, 0, 0);
    padding-left: 12px;
    margin:auto;

}

li {
    padding: 5px;
}

#sepia {
    filter: sepia(200%);
}
a:hover img {
    filter: sepia(100%);
}