@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Molle:ital@1&family=Nunito:wght@500&family=Pacifico&family=Sriracha&display=swap');

body{
    background-color: rgb(39, 38, 38);
}

header {
    padding: 30px;
}

p{
    font-size: 20px;
    color: white;
    text-align: justify;
    text-align: left;
}

.imag {
    width: 100%;
    image-resolution: 100%;
    display: block;
    padding: 5%;
}

.navbar-brand img{
    height: 80px;
}

#nunito{
    font-size: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
