@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Molle:ital@1&family=Nunito:wght@500&family=Pacifico&family=Sriracha&display=swap');

body {
    font-size: 80%;
    background-color: rgba(39, 38, 38);
    background-size:contain;
}

header {
    align-items: center;
    justify-content:space-between;
    padding: 20px;
}

section {
    background-size:auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2{
    font-size: 30px;
    font-weight: 100;
    text-align:center;
    color:rgb(0, 0, 0);
    background-color: rgba(95, 158, 160, 0.673);
}

.orig{
    display: flex;
    width: 90%;
    margin: auto;
    padding: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.gallery {
    margin: 5px;
    border: 2px solid rgba(133, 21, 253, 0.898);
    width: 433px;
    height: fit-content;
    margin-bottom: 12px;
    float: left;

}
  
.gallery:hover {
    border: 2px solid rgb(52, 7, 7);
    bottom: 0;
    height: 100%;
}

.imag {
    width: 100%;
    image-resolution: 100%;
    display: block;
    filter: sepia(100%);
}

.desc {
    padding: 10px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.945);
}

ol {
    list-style-position: inside;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:rgb(0, 0, 0);
    padding-left: 12px;
    margin:auto;

}

li {
    padding: 5px;
}

#lobster{
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 20px;
}

#nunito{
    font-size: 'Nunito', sans-serif;
    color: black;
    font-size: 20px;
}

#pacifico{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: black;
}

#sriracha{
    font-family: 'Sriracha', cursive;
    font-size: 45px;
    color: black;
}

#molle{
    font-family: 'Molle', cursive;
    font-size: 45px;
    color: black;
}

#sepia {
    filter: sepia(140%);
}

a:hover img {
    filter: none;
}